// MATERIAL OVERRIDE ################################################

mat-dialog-container {
	.dialog-header {
		margin: 24px;
		h2 {
			margin: 0px;
			padding: 0px;
		}
		.close {
			margin-top: -12px;
			margin-bottom: -12px;
		}
	}
	.dialog-content {
		margin: 24px;
	}
	.dialog-actions {
		margin: 24px;
	}
}

mat-snack-bar-container {
	margin: 12px !important;
	//min-width: 800px !important;

	& > * {
		box-shadow: none !important;
        min-width: 30%;
	}

	.mat-mdc-snack-bar-label[matsnackbarlabel] {
		padding: 18px !important;
	}
}
