<!-- <app-fixed-navbar [links]="[ { label: 'Home', navigateTo: [ '/' ] }, { label: 'Projects', navigateTo: [ '/' ] } ]"></app-fixed-navbar> -->
<app-theme-chooser></app-theme-chooser>

<mat-card class="m-4 p-4">
    <form [formGroup]="this.formGroup">
        <div class="row flex-wrap">
            <mat-form-field appearance="outline" class="col-md-3">
                <mat-label>Layout</mat-label>
                <mat-select formControlName="fxLayout">
                    <mat-option value="flex-row">flex-row</mat-option>
                    <mat-option value="flex-row-reverse">flex-row-reverse</mat-option>
                    <mat-option value="flex-column">flex-column</mat-option>
                    <mat-option value="flex-column-reverse">flex-column-reverse</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-md-3">
                <mat-label>Wrap</mat-label>
                <mat-select formControlName="fxLayoutWrap">
                    <mat-option value="">flex-nowrap</mat-option>
                    <mat-option value="flex-wrap">flex-wrap</mat-option>
                    <mat-option value="flex-wrap-reverse">flex-wrap-reverse</mat-option>
                </mat-select>
            </mat-form-field>
            
            <mat-form-field appearance="outline" class="col-md-3">
                <mat-label>Justify Content</mat-label>
                <mat-select formControlName="fxLayoutAlignHorizontal">
                    <mat-option value="justify-content-start">justify-content-start</mat-option>
                    <mat-option value="justify-content-end">justify-content-end</mat-option>
                    <mat-option value="justify-content-center">justify-content-center</mat-option>
                    <mat-option value="justify-content-between">justify-content-between</mat-option>
                    <mat-option value="justify-content-around">justify-content-around</mat-option>
                    <mat-option value="justify-content-evenly">justify-content-evenly</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-md-3">
                <mat-label>Align Items</mat-label>
                <mat-select formControlName="fxLayoutAlignVertical">
                    <mat-option value="align-items-start">align-items-start</mat-option>
                    <mat-option value="align-items-end">align-items-end</mat-option>
                    <mat-option value="align-items-center">align-items-center</mat-option>
                    <mat-option value="align-items-baseline">align-items-baseline</mat-option>
                    <mat-option value="align-items-stretch">align-items-stretch</mat-option>
                </mat-select>
            </mat-form-field>
            
            <mat-form-field appearance="outline" class="col-md-3">
                <mat-label>Gap</mat-label>
                <mat-select formControlName="fxLayoutGap">
                    <mat-option value="0">0</mat-option>
                    <mat-option value="1">1</mat-option>
                    <mat-option value="2">2</mat-option>
                    <mat-option value="3">3</mat-option>
                    <mat-option value="4">4</mat-option>
                    <mat-option value="5">5</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </form>
    
    <div class="d-flex flex-row justify-content-center align-items-center">
        <button mat-button
            [disabled]="this.cardList.length == 1"
            (click)="this.removeBox()">Remove Box</button>
        <div class="flex-fill"></div>
        <button mat-button
            [disabled]="this.cardList.length == 20"
            (click)="this.addBox()">Add Box</button>
    </div>

    <div class="sandbox" [ngClass]="this._outputClass">
        <app-sandbox-card *ngFor="let $card of this.cardList"
                            [width]="$card.width"
                            [height]="$card.height"
                            [viewModel]="$card"
                            (onSelect)="this.onSelectCard($event)">
        </app-sandbox-card>
    </div>

    <small>
        <pre class="m-0"><code [highlight]="this._scss" [languages]="[ 'scss' ]" [lineNumbers]="true"></code></pre>
    </small>
    
    <mat-divider class="mt-2 mb-2"></mat-divider>

    <small>
        <pre class="m-0"><code [highlight]="this._output" [languages]="[ 'html' ]" [lineNumbers]="true"></code></pre>
    </small>
    <!--https://getbootstrap.com/docs/5.3/utilities/flex/-->

</mat-card>
